# ---- Servidor ----
PORT=3000

# ---- Base de datos MySQL ----
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=acme


JWT_SECRET=AIzaSyBYliU5BwCZIxPjCABfMy-3kIGHN5rPZyQ

GOOGLE_CLIENT_ID=930384574426-dh3urq7l2h4ldnk4djhmiqg7ccfbvc40.apps.googleusercontent.com

# ---- Envío de Email (Nodemailer + Gmail OAuth2) ----
EMAIL_USER=tucorreo@gmail.com

# Credenciales entregadas por la API de Google (ID de cliente OAuth).
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground

# Refresh token generado en el OAuth 2.0 Playground.
EMAIL_REFRESH_TOKEN=

# ---- Frontend (para el enlace de recuperación de contraseña) ----
FRONTEND_URL=http://localhost:4200
