
        <div class="card border-primary mb-3 text-center">
            <div class="card-header">Lista de Productos</div>
            <div class="card-body text-primary">
                <div class="table-responsive">
                    <table class="table">
                        <thead>    
                            <tr>  
                                <th>
                                    <button class="btn btn-primary" (click)="toggleImage()">
                                        <i class="bi bi-eye-slash"></i>
                                        {{ showImage ? 'Ocultar' : 'Mostrar' }} Imagen                                         
                                    </button>
                                </th>
                                <th>Producto</th>
                                <th>Codigo</th>
                                <th>Disponible</th>
                                <th>Precio</th>
                                <th>Rating</th>
                            </tr>  
                        </thead>    
                            <tbody>
                                @for (producto of datos(); track producto.productId) {
                                    <tr>
                                        <td>
                                            @if (showImage){
                                            <img [src]="producto.imageUrl" 
                                                    [alt]="producto.productName" 
                                                    [style.width.px]="imageWidth"
                                                    [style.height.px]="imageHeight"
                                                    [style.margin.px]="imageMargin">
                                            }
                                        </td>
                                        <td>{{ producto.productName }}</td>
                                        <td>{{ producto.productCode }}</td>
                                        <td>{{ producto.releaseDate }}</td>
                                        <td>${{ producto.price }}</td>
                                        <td>{{ producto.startRating }}</td>
                                    </tr>
                                }
                            </tbody>    
                    </table>
                </div>
            </div>
        </div>